<p id="notice"><%= notice %></p>

<h1>Timezones</h1>

<table>
  <thead>
    <tr>
      <th>Zone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timezones.each do |timezone| %>
      <tr>
        <td><%= timezone.zone %></td>
        <td><%= link_to 'Show', timezone %></td>
        <td><%= link_to 'Edit', edit_timezone_path(timezone) %></td>
        <td><%= link_to 'Destroy', timezone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timezone', new_timezone_path %>
